# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
*.log

# Data
__DISAVOW_DATA__/
conf/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Git
.git/
.gitignore
