# Flask Web Framework
Flask==3.1.0
Flask-Compress==1.17
Flask-Login==0.6.3
bcrypt==4.2.0

# Vite Integration
vite-fusion==0.0.9

# Data Processing
pandas==2.2.3
openpyxl==3.1.5

# Production Server (ASGI)
hypercorn==0.17.3
